# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

backend/emma_backend.egg-info/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS
.DS_Store

# IDE
.vscode/

# Logs
*.log
.vercel
